---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection('content');

export const getStaticPaths = (async () => {
    const posts = await getCollection('content');
    return posts
        .map((post) => post.data.slug ? { params: { subject: post.data.slug.split("/")[0] } } : null)
        .filter(Boolean);
}) satisfies GetStaticPaths;


const {subject} = Astro.params;
const postList = allPosts.filter((p)=>p.data.slug?.startsWith(subject));
---
<Layout>
    <div class="w-full h-full pt-[10rem] flex flex-col items-center bg-zinc-100">
		<div class="container max-w-[800px] space-y-6">
            <p class="text-xl font-bold">🧬Biology</p>
            <ul>
                {postList.map((p)=>(
                    <li><a href={p.data.slug} class="hover:text-green-500 duration-200">{p.data.title}</a></li>
                ))}
            </ul>
        </div>
    </div>
</Layout>