---
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<div class="w-full h-full flex justify-center items-center">
        <div class="container max-w-[800px]">category</div>
    
</div>
</Layout>
