---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allBiologyPosts = await getCollection('biology');
---

<Layout>
	<div class="w-fit h-full m-auto">
		<div>pic</div>
		<div>
			<p>topic</p>
			<div>cards</div>
		</div>
		<div>
			<p>new articles</p>
			<div>cards</div>
		</div>
		<a href="/articles/biology/02">02</a>

	</div>
</Layout>
